---
// Component Imports
import Tour from "../components/Tour.astro";
import Header from "../components/Header.jsx";
import ProjectSection from "../components/ProjectSection.jsx";
// You can import components from any supported Framework here!
/* ASTRO:COMPONENT_IMPORTS */

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.jsx";
import Testimonials from "../components/Testimonials.astro";
import NewsCard from "../components/NewsCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../data/projects.json";
import StatsSection from "../components/StatsSection.jsx";
import BlogSection from "../components/BlogSection.jsx";

import news from "../data/news.json";
---

<MainLayout>
  <main>
    <Hero client:load />

    <StatsSection client:load />
    <ProjectSection client:load />

    <div class="px-4 max-w-5xl mx-auto py-8">
      <h1 class="text-3xl font-bold mb-1">Latest News</h1>
      <a class="text-gray-400" href="/projects">All Articles</a>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 pt-4">
        {news
          .slice(0, 3)
          .map((article) => (
            <BlogSection
              title={article.title}
              href={article.href}
              category={article.category}
              description={article.description}
              date={article.date}
              datetime={article.datetime}
              imageUrl={article.imageUrl}
              readingTime={article.readingTime}
              author={article.author}
            />
          ))}
      </div>
    </div>
    <div class="px-4 max-w-5xl mx-auto py-8">
      <h1 class="text-3xl font-bold mb-6">Comments From Our Clients</h1>
      <Testimonials />
    </div>
  </main>
</MainLayout>
