---
import MainLayout from "../layouts/MainLayout.astro";
import BlogSection from "../components/BlogSection.jsx";
import news from "../data/news.json";
---

<MainLayout>
  <div class="px-4 max-w-5xl mx-auto py-8">
    <br />
    <h1 class="text-5xl font-bold mb-8 text-center">News Stories</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {news.map((news) => (
        <BlogSection
          title={news.title}
          href={news.href}
          category={news.category}
          description={news.desription}
          date={news.date}
          datetime={news.datetime}
          imageUrl={news.imageUrl}
          readingTime={news.readingTime}
          author={news.author}
          client:load
        />
      ))}
    </div>
  </div>
</MainLayout>
