---
import projects from "../../data/projects.json";
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectStats from "../../components/ProjectStats.jsx";
import ImageSection from "../../components/ImageSection.jsx";

export async function getStaticPaths() {
  return projects.map((project) => ({ params: { id: project.id } }));
}

const { id } = Astro.request.params;
const project = projects.filter((project) => project.id === id).at(0);
---

<MainLayout>
  <div>
    <div class="w-full h-96 relative">
      <img
        src={project.image}
        alt={project.title}
        class="w-full h-full object-cover object-center absolute inset-0 z-10"
      />
      <div
        class="absolute bg-gray-800 bg-blend-multiply w-full h-full inset-0 z-20 opacity-40"
      >
      </div>
      <div
        class="max-w-7xl mx-auto aboslute z-30 inset-0 flex flex-col items-between justify-between w-full h-full py-6 px-6"
      >
        <a href="/projects" class="font-bold text-2xl z-30"
          >&larr; See All Projects</a
        >
        <h1 class="font-bold text-5xl z-30">
          {project.title}
        </h1>
      </div>
    </div>

    <main
      class="max-w-7xl mx-auto py-6 px-6 grid grid-cols-1 md:grid-cols-3 gap-8"
    >
      <ImageSection client:load images={project.carousel} image={project.image}
      />
      <aside>
        <div class="sticky top-4">
          <h2 class="text-4xl font-bold text-white mb-4">About the Project</h2>
          <ProjectStats stats={project.stats} client:load />
        </div>
      </aside>
    </main>
  </div>
</MainLayout>
